//公共应用样式
.page-main {
  background-color: #f5f5f5;
  padding: 15px 15px 15px 15px;
  height: calc(100% - 30px);
  background: transparent;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.el-button {
  height: 28px !important;
}
.el-splitter-bar {
  width: 10px !important;
}
.el-splitter-bar__dragger:before {
  background-color: transparent !important;
}
.el-collapse-item__content {
  padding: 0 !important;
}

.el-button.el-button--text {
  border: none !important;
  outline: none !important;
  cursor: pointer;
  &:active {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    color: var(--el-color-primary);
    transform: translateY(1px);
  }
}
.el-drawer__body {
  padding: 15px 20px;
}
.el-drawer__header {
  margin-bottom: 0 !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  // background: #f1f1f1; /* 浅灰色轨道 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d5d7dd;
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 添加一点阴影 */
}

.el-notification {
  width: fit-content !important;
  min-width: 200px;
  max-width: 300px;
}

.el-popper {
  span {
    white-space: break-spaces;
  }
}

.el-button:active {
  background-color: var(--el-color-primary) !important;
  border-color: var(--el-color-primary) !important;
}

.el-input-group__prepend,
.el-input-group__append {
  background: var(--el-color-primary) !important;
  color: #fff !important;
  box-shadow: none !important;
}

.ace-chrome .ace_gutter-active-line {
  background-color: var(--el-color-primary) !important;
  color: #fff !important;
}

.time,
.count {
  span {
    color: var(--el-color-primary);
  }
}

.el-table {
  border-radius: 4px;
  border: 1px solid #d5d7dd !important;
  .el-table__cell {
    padding: 3px 0 !important;
  }
  th.el-table__cell {
    padding: 8px 0 !important;
  }
  th {
    background: #f5f7fa !important;
  }
}
.el-table--border .el-table__inner-wrapper:after,
.el-table--border:before,
.el-table--border:after,
.el-table__border-bottom-patch,
.el-table__border-left-patch,
.el-table--fit .el-table__inner-wrapper:before {
  display: none !important;
}

.el-table__cell:last-child {
  border-right: none !important;
}
.el-table__row:last-child .el-table__cell {
  // border-bottom: none !important;
}

.el-collapse-item__wrap {
  border-bottom: none !important;
}

.el-button {
  .el-loading-spinner {
    top: 75% !important;
    width: 100% !important;
    height: 100% !important;
    .circular {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.el-drawer__body {
  display: flex;
  flex-direction: column;
  .drawer-content {
    flex: 1;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
  }
}

.page-main {
  .tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .left-tools {
      display: flex;
      justify-content: start;
      align-items: center;
      min-width: 20%;
      .el-button--text {
        margin-top: 2px;
      }
    }
    .center-tools {
      display: flex;
      justify-content: center;
      flex: 1;
      align-items: center;
    }
    .right-tools {
      display: flex;
      justify-content: end;
      min-width: 20%;
      align-items: center;
      .el-icon {
        margin-left: 10px;
        cursor: pointer;
      }
    }
    .count,
    .time {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0px 7px 0px;
    }
  }
}

.part-container {
  width: calc(100%);
  height: calc(100% - 0px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .part-header {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2px);
    padding: 0px;
    height: 30px;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d5d7dd;
    border-bottom: none;
    overflow: hidden;
    span {
      display: flex;
      align-items: center;
      height: 100%;
      margin-bottom: 3px;
    }
    .part-title {
      height: calc(100% + 2px);
      min-width: 30%;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 15px 0 10px;
      color: black;
      font-weight: bold;
      margin-bottom: 2px;
    }
    .part-tools {
      display: flex;
      justify-content: end;
      font-size: 14px;
      height: calc(100% + 2px);
      width: fit-content;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      min-width: 28%;
      padding: 0 10px;
      .el-icon {
        margin-left: 8px;
        cursor: pointer;
      }
      .el-icon:active {
        transform: translateY(1px);
      }
    }
  }
  .part-main {
    flex: 1;
  }
  .part-footer {
    height: 30px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #d5d7dd;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;

    .part-footer-left,
    .part-footer-right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .part-footer-left {
      .code-editor-footer-item {
        margin-right: 5px;
      }
    }

    .code-editor-footer-right {
      .code-editor-footer-item {
        margin-left: 5px;
      }
    }

    .part-footer-item {
      margin: 0 5px;
      font-size: 14px !important;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .pre-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
      }
    }
  }
}

.drawer-footer {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

// .manage-page-main {
//   width: calc(100% - 40px);
//   height: calc(100% - 40px);
//   padding: 20px;
// }

.code-editor-footer-left {
  .code-editor-footer-item {
    margin-right: 10px;
  }
}

.code-editor-footer-right {
  .code-editor-footer-item {
    margin-left: 10px;
  }
}

.el-message-box__message p {
  white-space: pre-line;
}

.code-editor-footer-item {
  font-size: 14px !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .label {
    color: black;
    margin-right: 5px;
  }
  .value {
    color: var(--el-color-primary);
  }
  span {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
