//公共应用样式
.page-main {
  background-color: #f5f5f5;
  padding: 15px 15px 0px 15px;
  height: calc(100% - 15px) !important;
  background: transparent;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.el-drawer__body {
  padding: 15px 20px;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* 浅灰色轨道 */
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb {
//   background: #ccc;
//   border-radius: 10px;
//   transition: background 0.3s ease-in-out;
// }

// ::-webkit-scrollbar-thumb:hover {
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 添加一点阴影 */
// }

.el-notification {
  width: fit-content !important;
  min-width: 200px;
  max-width: 300px;
}

.el-popper {
  span {
    white-space: break-spaces;
  }
}

.el-button:active {
  background-color: var(--el-color-primary) !important;
  border-color: var(--el-color-primary) !important;
}

.el-input-group__prepend,
.el-input-group__append {
  background: var(--el-color-primary) !important;
  color: #fff !important;
  box-shadow: none !important;
}

.ace-chrome .ace_gutter-active-line {
  background-color: var(--el-color-primary) !important;
  color: #fff !important;
}

.time,
.count {
  span {
    color: var(--el-color-primary);
  }
}

.el-table {
  border-radius: 4px;
  border: 1px solid #e4e7ed !important;
  th {
    background: #f5f7fa !important;
  }
}
.el-table--border .el-table__inner-wrapper:after,
.el-table--border:before,
.el-table--border:after,
.el-table__border-bottom-patch,
.el-table__border-left-patch,
.el-table--fit .el-table__inner-wrapper:before {
  display: none !important;
}

.el-table__cell:last-child {
  border-right: none !important;
}
.el-table__row:last-child .el-table__cell {
  // border-bottom: none !important;
}

.page-main {
  padding-bottom: 0;
  height: calc(100% - 20px);
  .tools {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .left-tools {
      display: flex;
      justify-content: start;
      align-items: center;
      .el-button--text {
        margin-top: 2px;
      }
    }
    .right-tools {
      display: flex;
      justify-content: end;
      align-items: center;
      .el-icon {
        margin-left: 10px;
        cursor: pointer;
      }
    }
    .count,
    .time {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 0px 9px 0px;
    }
  }
}
